<!DOCTYPE html>
<html lang="en">
<head>
<title>Don't Hack Me Bro</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="HostSpace template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="./../css/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="./../css/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="./../css/FrontPage.css">

<!-- <link rel="stylesheet" type="text/css" href="styles/main_styles.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="styles/responsive.css"> -->
<script>

function post(sent_to, obj) {
	return new Promise(function(resolve, reject) {
		var xhttp = new XMLHttpRequest()
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var data = JSON.parse(this.responseText)
				if (data.status == "FAILURE") {
					reject(data)
				}
				else {
					resolve(data)
				}
			}
		}
		xhttp.onerror = function() {
			reject(xhttp.statusText)
		}
		xhttp.open("POST", sent_to, true)
		if (obj) {
			xhttp.setRequestHeader('Content-Type', 'application/json');
			xhttp.send(JSON.stringify(obj))
		}
		else {
			xhttp.send()
		}
	})
}

async function check_password() {
	let password = document.querySelector("#password_text").value

	if (password == "") {
		alert("Please input a password!")
		return
	}

	let data
	try {
		data = await post(`/check_password`, {password: password})
	}
	catch(error) {
		console.error(error)
		return
	}

	console.log(data)
	alert(data.text)
}

</script>
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_400">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<div class="logo"><a href="#">Don't<span>HackMeBro</span></a></div>
						<nav class="main_nav ml-auto mr-auto">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li class="active"><a href="FrontPagev2.html">Check Passwords</a></li>
								<li><a href="###">Saved Passwords</a></li>
								<li><a href="###">My Account</a></li>
							</ul>
						</nav>
						<div class="log_reg">
							<div class="log_reg_content d-flex flex-row align-items-center justify-content-start">
								<div class="login log_reg_text"><a href="/login">Login</a></div>
								<div class="register log_reg_text"><a href="/signup">Sign Up</a></div>
							</div>
						</div>
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu_overlay trans_400"></div>
	<div class="menu trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="log_reg">
			<div class="log_reg_content d-flex flex-row align-items-center justify-content-end">
				<div class="login log_reg_text"><a href="logIn.html">Login</a></div>
				<div class="register log_reg_text"><a href="signup.html">Sign Up</a></div>
			</div>
		</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="FrontPagev2.html">Home</a></li>
				<li><a href="###">Saved Passwords</a></li>
				<li><a href="###">My Account</a></li>
			</ul>
		</nav>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="cloud cloud_1"><img src="./../css/binary.png" alt=""></div>
		<div class="cloud cloud_2"><img src="./../css/binary.png" alt=""></div>
		<div class="cloud cloud_3"><img src="./../css/binary.png" alt=""></div>
		<div class="cloud cloud_4"><img src="./../css/binary.png" alt=""></div>
		<div class="cloud cloud_5"><img src="./../css/binary.png" alt=""></div>
		<div class="cloud cloud_6"><img src="./../css/binary.png" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">Is Your Password Secure?</div>
							<div class="home_text">Check your password against millions of vulnerable passwords.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="domain_search_form_container">
							<form onSubmit="return false;" id="domain_search_form" class="domain_search_form d-flex flex-md-row flex-column align-items-center justify-content-start">
								<div class="d-flex flex-row align-items-center justify-content-start">
									<input id="password_text" type="text" class="domain_search_input" placeholder="Test Password" required="required">
									<div class="domain_search_dropdown d-flex flex-row align-items-center justify-content-start">
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<div class="domain_search_selected">Save</div>
										<ul>
											<li>Save</li>
											<li>Don't Save</li>
										</ul>
									</div>
								</div>
								<button onclick="check_password()" class="domain_search_button d-flex flex-row align-items-center justify-content-center">Test</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="./../css/js/jquery-3.2.1.min.js"></script>
<script src="./../css/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="./../css/js/custom.js"></script>

</body>
</html>
