<!-- Propery of Hackerfam
Written by: Andrew Pavey -->

<!DOCTYPE html>

<html>

	<head>
		<link rel="stylesheet" type="text/css" href="./../css/FrontPage.css">

		<link href="./../css/logInStyle.css" type="text/css" rel="stylesheet"/>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script>
function post(sent_to, obj) {
	return new Promise(function(resolve, reject) {
		var xhttp = new XMLHttpRequest()
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var data = JSON.parse(this.responseText)
				if (data.status == "FAILURE") {
					reject(data)
				}
				else {
					resolve(data)
				}
			}
		}
		xhttp.onerror = function() {
			reject(xhttp.statusText)
		}
		xhttp.open("POST", sent_to, true)
		if (obj) {
			xhttp.setRequestHeader('Content-Type', 'application/json');
			xhttp.send(JSON.stringify(obj))
		}
		else {
			xhttp.send()
		}
	})
}

async function scrapeSU() {
	var firstName = document.getElementById("firstNameInput").value;
	var lastName = document.getElementById("lastNameInput").value;
	var emailSU = document.getElementById("emailInputSU").value;
	var passwordSU = document.getElementById("passwordInputSU").value;
	var confPasswordSU = document.getElementById("passwordConfSU").value;

	if (passwordSU != confPasswordSU) {
		alert("Passwords do not match!")
		return
	}

	let query = {
		first_name: firstName,
		last_name: lastName,
		email: emailSU,
		password: passwordSU,
	}

	let data
	try {
		data = await post(`/signup`, query)
	}
	catch(error) {
		console.error(error)
		return
	}

	console.log(data)
	alert(data.text)
}
		</script>

		<title>
			Sign Up
		</title>
	</head>

	<body>
		<!-- Header -->
		<header class="header trans_400">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<div class="logo"><a href="/">Don't<span>HackMeBro</span></a></div>
						<nav class="main_nav ml-auto mr-auto">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li class="active"><a href="FrontPagev2.html">Check Passwords</a></li>
								<li><a href="###">Saved Passwords</a></li>
								<li><a href="###">My Account</a></li>
							</ul>
						</nav>
						<div class="log_reg">
							<div class="log_reg_content d-flex flex-row align-items-center justify-content-start">
								<div class="login log_reg_text"><a href="/login">Login</a></div>
								<div class="register log_reg_text"><a href="/signup">Sign Up</a></div>
							</div>
						</div>
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Menu -->

	<div class="menu_overlay trans_400"></div>
	<div class="menu trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="log_reg">
			<div class="log_reg_content d-flex flex-row align-items-center justify-content-end">
				<div class="login log_reg_text"><a href="logIn.html">Login</a></div>
				<div class="register log_reg_text"><a href="signup.html">Sign Up</a></div>
			</div>
		</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="FrontPagev2.html">Home</a></li>
				<li><a href="###">Saved Passwords</a></li>
				<li><a href="###">My Account</a></li>
			</ul>
		</nav>
	</div>
		<!-- Form -->
		<form onSubmit="return false;">

			<div class="row justify-content-center">
				<div class="col-3">
					<h4 align="center">First Name</h4>
				</div>

				<div class="col-1"></div>

				<div class="col-3">
					<h4 align="center">Last Name</h4>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="form-group col-3">
					<input type="text" class="form-control" placeholder="First Name" id="firstNameInput">
				</div>

				<div class="col-1"></div>

				<div class="form-group col-3">
					<input type="text" class="form-control" placeholder="Last Name" id="lastNameInput">
				</div>
			</div>

			<h4 align="center">Email</h4>
			<div class="row justify-content-center">
				<div class="form-group col-7">
					<input type="email" class="form-control" id="emailInputSU" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
			</div>

			<h4 align="center">Password</h4>
			<div class="row justify-content-center">
				<div class="form-group col-7">
					<input type="password" class="form-control" id="passwordInputSU" placeholder="Password">
				</div>
			</div>

			<h4 align="center">Confirm Password</h4>
			<div class="row justify-content-center">
				<div class="form-group col-7">
					<input type="password" class="form-control" id="passwordConfSU" placeholder="Confirm Password">
				</div>
			</div>

			<div align="center">
				<button class="btn btn-success" onclick="scrapeSU()" id="submitButton">Submit</button>
			</div>
		</form>

		<script src="./../css/js/jquery-3.2.1.min.js"></script>
		<script src="./../css/plugins/scrollmagic/ScrollMagic.min.js"></script>
		<script src="./../css/js/custom.js"></script>

	</body>
</html>
