html {
	padding: 100px;
	background-color: #0B3142;
}

#title{
  color: white;
  background-color: #0B3142;
}

form {
	color: white;
	background-color: #0B3142;
}

meter{
  -webkit-appearance: none;
  -mox-appearance: none;
  appearance: none;

  margin: 0 auto 1em;
  width: 100%
  height: 0.5em;

}

meter::-webkit-meter-bar{
  background: none;
  background-color: rgba(0,0,0,0.1);
}
