@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Services
8. Pricing
9. Why Choose Us
10. CTA
11. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #0B3142;
	color: #0B3142;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 1.8666;
	font-weight: 400;
	color: #0B3142;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #0B3142;
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h1
{
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	font-weight: 700;
	color: #0B3142;
}
h1::selection, 
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}

.nopadding
{
	padding: 0px !important;
}
.section_title h2
{
	color: #0B3142;
	line-height: 0.75;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background: transparent;
	z-index: 100;
}
.header.scrolled
{
	background: #0B3142;
	padding-top: 6px;
}
.header_content
{
	width: 100%;
	height: 124px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header .header_content
{
	height: 80px;
}
.logo
{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.logo a
{
	display: block;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.logo a span
{
	color: #1befc5;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 48px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #1befc5;
}
.log_reg
{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.log_reg_text a
{
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}
.log_reg_text a:hover
{
	color: #1befc5;
}
.log_reg_content > div:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	margin-left: 4px;
	margin-right: 4px;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(255,255,255,0.15);
}
.hamburger i
{
	font-size: 20px;
	color: #FFFFFF;
	padding: 5px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #0B3142;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.55);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu .log_reg
{
	display: block;
	position: relative;
	top: auto;
	right: auto;
	text-align: right;
}
.menu_nav
{
	margin-top: 50px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 3px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 821px;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0B3142;
    /*background-image: linear-gradient(to bottom, #200e35, #4d1d85);*/
    background: #0B3142;
    /*background: linear-gradient(to bottom, #200e35, #4d1d85);*/
    z-index: 1;
}

.cloud
{
	position: absolute;
	width: 520px;
	height: auto;
	z-index: 4;
}
.cloud img
{
	max-width: 100%;
}
.cloud_1
{
	height: auto;
	width: 520px;
	top: 247px;
	left: -520px;
	-webkit-animation: cloud_anim 60s -39s linear infinite;
	animation: cloud_anim 60s -39s linear infinite;
}
.cloud_2
{
	height: auto;
	width: 520px;
	top: 204px;
	left: -520px;
	-webkit-animation: cloud_anim 60s -6s linear infinite;
	animation: cloud_anim 60s -6s linear infinite;
}
.cloud_3
{
	height: auto;
	width: 520px;
	top: 332px;
	left: -520px;
	-webkit-animation: cloud_anim 60s -45s linear infinite;
	animation: cloud_anim 60s -45s linear infinite;
}
.cloud_4
{
	height: auto;
	width: 520px;
	top: 553px;
	left: -520px;
	-webkit-animation: cloud_anim 60s -15s linear infinite;
	animation: cloud_anim 60s -15s linear infinite;
	z-index: 2;
}
.cloud_5
{
	height: auto;
	width: 520px;
	top: 100px;
	left: -520px;
	-webkit-animation: cloud_anim 60s -29s linear infinite;
	animation: cloud_anim 60s -29s linear infinite;
	z-index: 2;
}
.cloud_6
{
	height: auto;
	width: 520px;
	top: 50px;
	left: -520px;
	-webkit-animation: cloud_anim 60s -52s linear infinite;
	animation: cloud_anim 60s -52s linear infinite;
	z-index: 2;
}
@-webkit-keyframes cloud_anim
{
	0%
	{
		left: -520px;
	}
	100%
	{
		left: calc(100vw + 520px);
	}
}
@keyframes cloud_anim
{
	0%
	{
		left: -520px;
	}
	100%
	{
		left: calc(100vw + 520px);
	}
}
.home_container
{
	position: absolute;
	left: 0;
	top: 31.9%;
	width: 100%;
	z-index: 5;
}
.home_content
{

}
.home_title
{
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.home_text
{
	max-width: 750px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 2.14;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9px;
}
.domain_search_form_container
{
	margin-top: 69px;
}
.domain_search_form
{
	width: 100%;
}
.domain_search_form > div
{
	width: calc(100% - 196px);
	margin-right: 30px;
}
.domain_search_input
{
	width: calc(100% - 141px);
	height: 60px;
	background: #FFFFFF;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 500;
	color: #1f1d22;
}
.domain_search_input::-webkit-input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_input:-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_input::-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
} 
.domain_search_input:-ms-input-placeholder
{ 
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_input::input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_dropdown
{
	position: absolute;
	top: 0;
	right: 0;
	width: 141px;
	height: 60px;
	background: #7836c6;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	cursor: pointer;
	padding-left: 19px;
}
.domain_search_dropdown i
{
	color: #FFFFFF;
}
.domain_search_selected
{
	width: 100%;
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 5px;
}
.domain_search_dropdown ul
{
	position: absolute;
	left: 0;
	top: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #FFFFFF;
	min-width: 90%;
	visibility: hidden;
	opacity: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}
.domain_search_dropdown.active ul
{
	visibility: visible;
	opacity: 1;
}
.domain_search_dropdown ul li
{
	font-size: 24px;
	font-weight: 500;
	color: #1f1d22;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.domain_search_dropdown ul li:not(:last-child)
{
	margin-bottom: 5px;
}
.domain_search_dropdown ul li:hover
{
	color: #1befc5;
}
.domain_search_button
{
	width: 166px;
	height: 60px;
	background: #1befc5;
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	color: #1f1d22;
}
.domain_search_button img
{
	margin-right: 10px;
}
.domain_search_button:hover
{
	background: #FFFFFF;
}

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav ul li:not(:last-child)
	{
		margin-right: 40px;
	}
	.cta_title
	{
		font-size: 30px;
	}
	.cta_price
	{
		font-size: 36px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.log_reg
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.domain_search_input
	{
		height: 50px;
	}
	.domain_search_dropdown
	{
		height: 50px;
	}
	.domain_search_input::-webkit-input-placeholder
	{
		font-size: 20px !important;
	}
	.domain_search_input:-moz-placeholder
	{
		font-size: 20px !important;
	}
	.domain_search_input::-moz-placeholder
	{
		font-size: 20px !important;
	} 
	.domain_search_input:-ms-input-placeholder
	{ 
		font-size: 20px !important;
	}
	.domain_search_input::input-placeholder
	{
		font-size: 20px !important;
	}
	.domain_search_selected,
	.domain_search_dropdown ul li,
	.domain_search_button
	{
		font-size: 20px;
	}
	.domain_search_button
	{
		height: 50px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_title
	{
		font-size: 48px;
	}
	.domain_search_form > div
	{
		width: 100%;
		margin-right: 0;
	}
	.domain_search_button
	{
		margin-top: 18px;
	}
	
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2
	{
		font-size: 30px;
	}
	p
	{
		font-size: 13px;
	}
	.home
	{
		height: 75vh;
	}
	.home_title
	{
		font-size: 36px;
	}
	.domain_search_input,
	.domain_search_dropdown,
	.domain_search_button
	{
		height: 40px;
	}
	.domain_search_input::-webkit-input-placeholder
	{
		font-size: 16px !important;
	}
	.domain_search_input:-moz-placeholder
	{
		font-size: 16px !important;
	}
	.domain_search_input::-moz-placeholder
	{
		font-size: 16px !important;
	} 
	.domain_search_input:-ms-input-placeholder
	{ 
		font-size: 16px !important;
	}
	.domain_search_input::input-placeholder
	{
		font-size: 16px !important;
	}
	.domain_search_selected,
	.domain_search_dropdown ul li,
	.domain_search_button
	{
		font-size: 16px;
	}
	

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}